{% extends "master.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/modal-addbtn.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}
<div class="inventory-container">
    {% block inventory %}
    <div class="title-border-cont">
        <h1>{{ title }}</h1>
        <div class="line-border"></div>
    </div>
    <div class="table-search-container">
        <form class="search-cont-1" action="" method="get">
            <div class="search-icon-cont">
                <input type="text" name="search" class="search-input-2" placeholder="Search"
                       value="{{ search_query }}">
                <button class="search-btn-2">
                    <i class="fa-solid fa-magnifying-glass search-icon-2"></i>
                </button>
            </div>
        </form>

        <div class="table-list-cont">
            <table class="table">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Date Joined</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td data-cell="SL">{{ forloop.counter }}</td>
                        <td data-cell="Full Name">{{ customer.user.get_full_name|default:"N/A" }}</td>
                        <td data-cell="Email">{{ customer.user.email }}</td>
                        <td data-cell="Date Joined">{{ customer.user.date_joined|date:"M d, Y" }}</td>
                        <td data-cell="Actions">
                            <div class="btn-td-cont">
                                <a href="{%url 'accounts:delete' customer.id%}" class="button delete-btn">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="5">No customers found.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block extrascript %}
{% endblock %}
