/* Table List container */
.table-list-cont{
    width: 100%;
    /* height: 100%; */
    /* max-height: 400px; */
    /* overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
    /* border: 1px solid red; */
    /* overflow-x: scroll; */
}

/* Table */
.table{
    /* border: 1px solid red; */
    width: 100%;
    /* min-width: 600px; */
    /* table-layout: fixed; */
    /* table-layout: initial; */
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table thead{
    background-color: var(--first-color-darkgreen);
    color: var(--content-bg-color);
    /* position: sticky;
    top: 0; */
}

.table thead th{
    font-size: var(--size-text);
    padding: 14px 16px;
    text-align: left;
    font-weight: 500;
    /* border: 1px solid red; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.table tbody tr td{
    font-size: var(--size-text);
    padding: 8px 16px;
    text-align: left;
    vertical-align: middle;
    background-color: var(--content-bg-color);
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.table tbody tr td:first-child {
    border-top-left-radius: var(--corner-radius); 
    border-bottom-left-radius: var(--corner-radius); 
}

.table tbody tr td:last-child {
    border-top-right-radius: var(--corner-radius); 
    border-bottom-right-radius: var(--corner-radius); 
}

.table thead tr th:first-child {
    border-top-left-radius: var(--corner-radius); 
    border-bottom-left-radius: var(--corner-radius); 
}

.table thead tr th:last-child {
    border-top-right-radius: var(--corner-radius); 
    border-bottom-right-radius: var(--corner-radius); 
}

.table tbody tr td img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #dbdbdb;
    padding: 2px;
    border-radius: 8px;
}


/* Button */
.btn-td-cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.table tbody tr td .button{
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 5px;
}

.status{
    border: 1px solid #cccccca7;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: var(--size-text);
    width: 100%;
    max-width: 70px;
}

.avail{
    background-color: #20971a16;
    color: #1b860d;
}

.out {
    background-color: #dc35461f; 
    color: #ae1020d3;
}

.expired {
    background-color: #ffd90026; 
    color: #cfab0a;
}

/* Dot menu */
.dot-btn{
    display: none;
    position: relative;
}

.read-btn{
    color: #8047dcbf;
    background-color: rgba(155, 90, 204, 0.11);
    border: 1px solid #6a40ad3c;
}
.read-btn:hover,
.read-btn:focus-within{
    color: var(--content-bg-color);
    background-color: #8047dcbf;
    border: 1px solid #8047dcbf;
}

.update-btn{
    color: #fd871ac2;
    background-color: rgba(253, 136, 26, 0.11);
    border: 1px solid #fd881a65;
}
.update-btn:hover,
.update-btn:focus-within{
    color: var(--content-bg-color);
    background-color: #fd871ac2;
    border: 1px solid #fd871ac2;
}

.delete-btn{
    color: #db0d22;
    background-color: rgba(219, 13, 34, 0.11);
    border: 1px solid #db0d2241;
}
.delete-btn:hover,
.delete-btn:focus-within{
    color: var(--content-bg-color);
    background-color: #db0d22;
    border: 1px solid #db0d22;
}

/* .dot-btn:hover,
.dot-btn:focus-within{
    color: var(--content-bg-color);
    background-color: #044635;
    border: 1px solid #044635;
} */

/* .btn-td-cont-2{
    display: none;
} */



@media (max-width:1065px) {

    .dot-btn{
        display: none;
        color: #044635;
        background-color: rgba(8, 126, 96, 0.11);
        border: 1px solid #04463628;
    }
    /* .read-btn, .update-btn, .delete-btn{
        display: none;
    } */

    #dropdown-Btn{
        display: none;
    }


    
}

@media (max-width:768px) {

    .table thead{
        display: none;
    }

    .dot-btn{
        display: none;
    }

    #dropdown-Btn{
        display: inline-block;
    }

    /* .read-btn, .update-btn, .delete-btn{
        display: inline-block;
    } */

    /* .btn-td-cont-2{
        display: inline-block;
    } */
    
    .table tbody tr{
        background-color: var(--content-bg-color);
        /* border: 1px solid #dddddd; */
    }

    .table tbody tr td{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
        white-space: wrap;
        word-break: break-all;
        border-top: 0px solid #e3e3e3;
        border-bottom: 0px solid #e3e3e3;
    }

    .table tbody td:last-child{
        padding-bottom: 1rem;
    }

    .table tbody tr td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
    }
    
}