{%extends "master.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{%block extracss%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/modal-addbtn.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/table.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/pagination.css'%}?v={{ timestamp }}">
{%endblock%}

{% block content %}
    <div class="inventory-container">
        {% block inventory %}
        <div class="title-border-cont">
            <h1>{{title}}</h1>
            <div class="line-border"></div>
        </div>
        <div class="table-search-container">
            <form class="search-cont-1" action="{%url 'inventory:stock'%}" method="get">
                <div class="search-icon-cont">
                    <input type="text" name="search" class="search-input-2" placeholder="Search">
                    <button class="search-btn-2">
                        <i class="fa-solid fa-magnifying-glass search-icon-2"></i>
                    </button>
                </div>
                <div class="btn-date-cont">
                    <div class="date-cont">
                        <div class="first-date">
                            <input type="date" name="start_date"  class="fdate"> 
                            <i class="fa-solid fa-calendar-days calendar-icon"></i>
                        </div>
                        <span>To</span>
                        <div class="second-date">
                            <input type="date" name="end_date" class="Sdate"> 
                            <i class="fa-solid fa-calendar-days calendar-icon"></i>
                        </div>
                    </div>
                    <div class="btn-add-new">
                        <button class="add-btn-modal" type="button"
                            onclick="openAddModalStock()"
                        >Add New<i class="fa-solid fa-plus add-btn"></i></button>
                        {% comment %} <button class="subcategory-btn-modal">Subcategory<i class="fa-solid fa-plus add-btn"></i></button> {% endcomment %}
                    </div>
                    <div class="three-dot-cont">
                        <i class="fa-solid fa-ellipsis-vertical threedot-icon"></i>
                    </div>
                </div>
            </form>

            <div class="table-list-cont">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Expiry Date</th>
                            {% comment %} <th>Date Added</th> {% endcomment %}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% include "components/tbl-stocks.html" %}
                </table>
            </div>
            {% include "components/modals/addStock.html" %}
            {% include "components/modals/viewStock.html" %}
            {% include "components/modals/editStock.html" %}
            {% include "components/paginations.html" %}
        </div>
        {% endblock %}
    </div>
{% endblock %}  

{%block extrascript%}
    <script src="{%static 'js/ajax-stockform-modal.js'%}?v={{ timestamp }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.search-cont-1');
            const startDate = form.querySelector('input[name="start_date"]');
            const endDate = form.querySelector('input[name="end_date"]');
    
            function checkAndSubmit() {
                if (startDate.value && endDate.value) {
                    form.submit();
                }
            }
    
            startDate.addEventListener('change', checkAndSubmit);
            endDate.addEventListener('change', checkAndSubmit);
        });
    </script>
{%endblock%}