{%extends "products.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{%block extracss%}
    <link rel="stylesheet" href="{%static 'css/inventory.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/modal-addbtn.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/table.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/pagination.css'%}?v={{ timestamp }}">
{%endblock%}

{% block inventory %}
    <div class="title-border-cont">
        <h1>{{title}}</h1>
        <div class="line-border"></div>
    </div>
    <div class="table-search-container">
        <form class="search-cont-1" action="{%url 'inventory:subcategory'%}" method="get">
            <div class="search-icon-cont">
                <input type="text" name="search" class="search-input-2" placeholder="Search">
                <button class="search-btn-2">
                    <i class="fa-solid fa-magnifying-glass search-icon-2"></i>
                </button>
            </div>
            <div class="btn-date-cont">
                <div class="date-cont">
                    <div class="first-date">
                        <input type="date" name="start_date"  class="fdate"> 
                        <i class="fa-solid fa-calendar-days calendar-icon"></i>
                    </div>
                    <span>To</span>
                    <div class="second-date">
                        <input type="date" name="end_date" class="Sdate"> 
                        <i class="fa-solid fa-calendar-days calendar-icon"></i>
                    </div>
                </div>
                <div class="btn-add-new">
                    <button class="add-btn-modal" type="button"
                        id="addbtn"
                    >Add New<i class="fa-solid fa-plus add-btn"></i></button>
                    {% comment %} <button class="subcategory-btn-modal">Subcategory<i class="fa-solid fa-plus add-btn"></i></button> {% endcomment %}
                </div>
                <div class="three-dot-cont">
                    <i class="fa-solid fa-ellipsis-vertical threedot-icon"></i>
                </div>
            </div>
        </form>

        <div class="table-list-cont">
            <table class="table">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% include "components/tbl-subcategories.html" %}
            </table>
        </div>
        {% include "components/modals/addSubcategory.html" %}
        {% include "components/modals/viewSubcategory.html" %}
        {% include "components/modals/editSubcategory.html" %}
        {% include "components/paginations.html" %}
        </div>
    </div>
{% endblock %}

{%block extrascript%}
    <script src="{%static 'js/modal-form.js'%}?v={{ timestamp }}"></script>
    <script src="{%static 'js/ajax-subcategoryform-modal.js'%}?v={{ timestamp }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.search-cont-1');
            const startDate = form.querySelector('input[name="start_date"]');
            const endDate = form.querySelector('input[name="end_date"]');

            function checkAndSubmit() {
                if (startDate.value && endDate.value) {
                    form.submit();
                }
            }

            startDate.addEventListener('change', checkAndSubmit);
            endDate.addEventListener('change', checkAndSubmit);
        });
    </script>
{%endblock%}