{%extends "login.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{% block content %}
    <form>
        <h2 style='text-align: center; font-weight: bold; font-size: 16px;'>Reset Sent</h2>
        <hr>
        <p style='text-align: center; font-size: 12px;'>
            A reset password link has been sent to your email.
        </p>
        <p style='text-align: center; font-size: 12px;'>
            Please note that it <b>expires in 5 minutes!</b>
        </p>
    </form>
{% endblock %}  

{%block extrascript%}
{%endblock%}