.charts-container{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'first second'
  ;
  height: 100%;
}

@media (max-width: 768px) {

  .charts-container{
    grid-template-columns: 1fr;
    grid-template-areas:
      'first'
      'second'
    ;
  }
  
}