/* ====Header==== */
header{
    /* border: 1px solid blue; */
    /* padding: 15px 25px; */
    /* border-radius: var(--corner-radius); */
    background-color: var(--content-bg-color);
    padding: 10px 1.2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first-color-darkgreen);
    box-shadow: 0 0 4px 1px rgb(239, 239, 239);
}

/* Search bar */
.search-date-cont{
    /* border: 1px solid blue;  */
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 100%;
  }
  
  .search-date-cont .search-cont{
    /* border: 1px solid blue;  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--content-bg-color);
    padding: 0.5rem;
    border-radius: 75px;
    width: 100%;
    max-width: 350px;
  }
  
  .search-date-cont .search-cont .search-input-header{
    width: 100%;
    padding: 0 .5rem;
    border: none;
    background-color: var(--content-bg-color);
    color: var(--text-black-color);
    font-size: var(--size-text);
  }
  
  .search-date-cont .search-cont .search-btn-header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 5px;
  }
  
  .search-date-cont .search-cont .search-btn-header .search-icon{
    font-size: 14px;
    color: var(--first-color-darkgreen);
  }
  
  /* Date */
  .search-date-cont .date-cont{
    font-size: 11px;
    /* font-weight: 600; */
    color: var(--content-bg-color);
  }
  
  /* Message & Notification */
  .notification-message-cont{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  
  .message-btn-header,
  .notification-btn-header{
    border: none;
    /* background-color: var(--first-color-grey); */
    background-color: var(--content-bg-color);
    padding: 10px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .message-icon,
  .bell-icon{
    font-size: 14px;
    /* color: var(--first-color-grey); */
  }
  
  .count-message,
  .count-bell{
    position: absolute;
    top: 2.5px;
    right: 3.5px;
    z-index: 1;
    background-color: #ff5252;
    color: var(--text-color);
    font-weight: bold;
    font-size: 7px;
    padding: 2px;
    border-radius: 10px;
  }
  
  /* .message-btn-header:hover,
  .notification-btn-header:hover{
    background-color: var(--first-color-darkgreen);
    color: var(--content-bg-color);
  } */
  
  .dropdown-notification-content.active{
    display: block;
  }
  
  .active-notification {
    background-color: var(--first-color-darkgreen);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  
  /* Message Dropdown Modal Content */
  .dropdown-message-content{
    /* display: none; */
    position: absolute;
    top: 68px;
    right: 95px;
    background-color: var(--first-color-grey);
    min-width: 300px;
    z-index: 1;
    padding: 20px;
  }
  
  /* Notification Dropdown Modal Content */
  .dropdown-notification-content{
    display: none;
    position: absolute;
    top: 75px;
    right: 49px;
    background-color: var(--first-color-grey);
    max-width: 250px;
    z-index: 1200;
    border-radius: 10px;
    /* border-radius: 10px 0 0 10px; */
    /* box-shadow: #e2e2e2; */
  }
  
  .main-notif-cont{
    /* border: 1px solid red; */
    display: flex;
    max-height: 400px;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
  }
  
  .two-top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    /* background-color: var(--content-bg-color); */
    background-color: var(--first-color-darkgreen);
    color: var(--content-bg-color);
  }
  
  .text-notifications{
    font-size: 12px;
    font-weight: 500;
  }
  
  .two-top-header .exit-notification-btn{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--size-text);
    cursor: pointer;
  }
  
  /* .two-top-header .exit-notification-btn:hover{
    background-color: var(--first-color-darkgreen);
    color: var(--text-color);
  } */
  
  .message-content-containter{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
  }
  
  .clearall-cont{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px 0 0 0;
  }
  
  .clearall-cont .clearall-btn{
    border: none;
    cursor: pointer;
    font-size: var(--size-text);
  }
  
  .clearall-cont .clearall-btn:hover{
    text-decoration: underline;
  }
  
  .card-message{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--content-bg-color);
    font-size: var(--size-text);
    width: 100%;
    height: 100%;
    padding: .7rem;
    overflow: hidden;
    white-space: wrap;
    /* word-break: break-word; */
  }
  
  .card-child-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-child-top .card-name{
    font-size: var(--size-text);
    font-weight: 600;
  }
  
  .card-child-top .delete-notification-btn{
    background-color: transparent;
    border: none;
    font-size: 10px;
    cursor: pointer;
  }
  
  .card-child-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .card-child-mid .card-description{
    font-size: 12px;
    line-height: 1.5;
  }
  
  .card-child-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 9px;
    width: 100%;
  }
  
  /* New Sidebar Menu */
  .menu-bar-cont{
    display: none;
  }

  @media (max-width:1065px) {

    /* Header */
    header{
      gap: 10px;
    }

    /* ====Sidebar==== */
    .side-cont{
      display: none;
    }
  
    .search-date-cont{
      gap: 10px;
    }
  
    /* Search */
    .search-date-cont .search-cont{
      max-width: 250px;
    }
  
    /* Date */
    .search-date-cont .date-cont{
      font-size: 10px;
    }

    /* ====New Sidebar==== */
    header .menu-bar-cont{
      display: flex;
      position: relative;
    }
  
    .menu-bar-cont .menu-btn{
      border: none;
      background-color: var(--content-bg-color);
      padding: 10px;
      display: inline-block;
      position: relative;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: var(--size-text);
    }
  
    /* .menu-bar-cont .menu-btn:hover{
      background-color: var(--first-color-darkgreen);
      color: var(--text-color);
    } */
  
    /* Modal */
    .menu-bar-cont .modal-sidebar-content{
      height: 0;
      width: 230px;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 3;
      background-color: var(--content-bg-color);
      /* box-shadow: 0 0 4px 1px rgb(223, 222, 222); */
      /* box-shadow: 0 0 1px rgb(158, 158, 158); */
      transition: 0.5s;
      transition: height 0.3s ease;
    }
  
    .modal-sidebar-child{
      /* border: 1px solid red; */
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;    
      gap: 20px;
    }
  
    .modal-sidebar-content .top-two-content .closebtn{
      padding: 5px;
      border-radius: 5px;
      /* border: 1px solid var(--first-color-grey); */
    }
  
    .modal-sidebar-content .top-two-content .closebtn:hover{
      background-color: var(--first-color-darkgreen);
      color: var(--text-color);
    }
  
    .modal-sidebar-content .top-two-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #f57b0034;
      /* border: 1px solid red; */
    }
  
    .modal-sidebar-content .top-two-content img{
      width: 130px;
      object-fit: fill;
    }
  
    .sidebar-menu-main{
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      width: 100%;
      /* max-height: 410px; */
      height: 100%;
      overflow-y: auto;
      flex-grow: 1;
    }
  
    .sidebar-menu-main a,
    .sidebar-menu-main .dropdown-btn{
      display: flex;
      gap: 10px;
      border: none;
      width: 100%;
      text-align: left;
      align-items: center;
      cursor: pointer;
      background: transparent;
      padding: 6px 8px 6px 16px;
      border-radius: 20px;
      margin-top: 5px;
      font-size: var(--size-text);
      position: relative;
      transition: background 0.3s ease
    }
  
    .dropdown-btn > .drop-icon{
      position: absolute;
      top: 9px;
      right: 10px;
      font-size: 9px;
    }
    
    .sidebar-menu-main a:hover, 
    .dropdown-btn:hover,
    .sidebar-menu-main a.active, 
    .dropdown-btn.active{
      background-color: var(--first-color-orange);
      color: var(--text-color);
    }
  
    .card-profile-cont{
      /* border: 1px solid red; */
      /* position: absolute; */
      /* bottom: 25px; */
      /* left: 15px; */
      max-width: 200px;
      width: 100%; 
      margin: auto;
      border: none; 
      display: flex;
      flex-direction: row;
      padding: 10px 5px;
      gap: 5px;
      border-radius: 15px; 
      align-items: center; 
      justify-content: center;
      background-color: var(--content-bg-color); 
      /* box-shadow: 0 0 4px 1px rgb(223, 222, 222); */
      transition: background-color 0.3s ease;
    }
  
    .card-profile-cont .img-user img{
      width: 35px; 
      height: 35px; 
      object-fit: cover;
      border-radius: 25px; 
      border: 1.5px solid var(--content-bg-color);
      overflow: hidden;
      display: flex;
      justify-content: center; 
      align-items: center;  
    }
    
  }



  /* ====Media Query==== */
  @media (max-width:768px) {
  
    /* Header */
    header{
      gap: 10px;
    }

    /* ====Sidebar==== */
    .side-cont{
      display: none;
    }
  
    .search-date-cont{
      gap: 10px;
    }
  
    /* Search */
    .search-date-cont .search-cont{
      max-width: 250px;
    }
  
    /* Date */
    .search-date-cont .date-cont{
      font-size: 10px;
    }
  
    /* ====New Sidebar==== */
    header .menu-bar-cont{
      display: flex;
      position: relative;
    }
  
    .menu-bar-cont .menu-btn{
      border: none;
      background-color: var(--content-bg-color);
      padding: 10px;
      display: inline-block;
      position: relative;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: var(--size-text);
    }
  
    /* .menu-bar-cont .menu-btn:hover{
      background-color: var(--first-color-darkgreen);
      color: var(--text-color);
    } */
  
    /* Modal */
    .menu-bar-cont .modal-sidebar-content{
      height: 0;
      width: 230px;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 3;
      background-color: var(--content-bg-color);
      /* box-shadow: 0 0 4px 1px rgb(223, 222, 222); */
      /* box-shadow: 0 0 1px rgb(158, 158, 158); */
      transition: 0.5s;
      transition: height 0.3s ease;
    }
  
    .modal-sidebar-child{
      /* border: 1px solid red; */
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;    
      gap: 20px;
    }
  
    .modal-sidebar-content .top-two-content .closebtn{
      padding: 5px;
      border-radius: 5px;
      /* border: 1px solid var(--first-color-grey); */
    }
  
    .modal-sidebar-content .top-two-content .closebtn:hover{
      background-color: var(--first-color-darkgreen);
      color: var(--text-color);
    }
  
    .modal-sidebar-content .top-two-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #f57b0034;
      /* border: 1px solid red; */
    }
  
    .modal-sidebar-content .top-two-content img{
      width: 130px;
      object-fit: fill;
    }
  
    .sidebar-menu-main{
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      width: 100%;
      /* max-height: 410px; */
      height: 100%;
      overflow-y: auto;
      flex-grow: 1;
    }
  
    .sidebar-menu-main a,
    .sidebar-menu-main .dropdown-btn{
      display: flex;
      gap: 10px;
      border: none;
      width: 100%;
      text-align: left;
      align-items: center;
      cursor: pointer;
      background: transparent;
      padding: 6px 8px 6px 16px;
      border-radius: 20px;
      margin-top: 5px;
      font-size: var(--size-text);
      position: relative;
      transition: background 0.3s ease
    }
  
    .dropdown-btn > .drop-icon{
      position: absolute;
      top: 9px;
      right: 10px;
      font-size: 9px;
    }
    
    .sidebar-menu-main a:hover, 
    .dropdown-btn:hover,
    .sidebar-menu-main a.active, 
    .dropdown-btn.active{
      background-color: var(--first-color-orange);
      color: var(--text-color);
    }
  
    .card-profile-cont{
      /* border: 1px solid red; */
      /* position: absolute; */
      /* bottom: 25px; */
      /* left: 15px; */
      max-width: 200px;
      width: 100%; 
      margin: auto;
      border: none; 
      display: flex;
      flex-direction: row;
      padding: 10px 5px;
      gap: 5px;
      border-radius: 15px; 
      align-items: center; 
      justify-content: center;
      background-color: var(--content-bg-color); 
      /* box-shadow: 0 0 4px 1px rgb(223, 222, 222); */
      transition: background-color 0.3s ease;
    }
  
    .card-profile-cont .img-user img{
      width: 35px; 
      height: 35px; 
      object-fit: cover;
      border-radius: 25px; 
      border: 1.5px solid var(--content-bg-color);
      overflow: hidden;
      display: flex;
      justify-content: center; 
      align-items: center;  
    }
  }