{% extends "shop.html" %}
{% block title %}Order History{% endblock title %}



{% block content %}
<div class="after-hero-cont">
    <h2>Your Orders</h2>
    {% if orders %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>&#x20B1; {{ order.total_amount }}</td>
                <td>{{ order.get_status_display }}</td>
                <td><a href="{% url 'orders:order_detail' order.id %}">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>You haven't placed any orders yet.</p>
    {% endif %}
</div>
{% endblock content %}
