{% extends "shop/shop.html" %}
{% load static %}

{% block title %}
    Invoice - Order #{{ order.id }}
{% endblock title %}

{% block extracss %}
    <style>
        .invoice-footer {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }

        .info{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .info p {
            font-weight: 500;
        }
    </style>
{% endblock extracss %}

{% block content %}
<div class="checkout-container">
    <div class="checkout-header" style="font-size: 12px;">
        <h2>Invoice - Order #{{ order.id }}</h2>
    </div>

    <table class="checkout-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.orderline_set.all %}
            <tr>
                <td><img src="{{ item.stock.inventory.image.url }}" alt="{{ item.stock.inventory.name }}"></td>
                <td>{{ item.stock.inventory.name }}
                    {% if item.stock.amount_per_unit and item.stock.unit %}
                    ({{item.stock.amount_per_unit|floatformat:"-0"}} {{item.stock.unit}})
                    {% elif item.stock.unit %}
                        {{ item.stock.unit }}
                    {% else %}
                        
                    {% endif %}
                    <br>
                    <small>{{ item.stock.inventory.subcategory.category.name }} | {{ item.stock.inventory.subcategory.name }}</small>
                </td>
                <td>&#x20B1;{{ item.stock.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>&#x20B1;{{ item.total_amount }}</td>
            </tr>
            {% endfor %}
            <tr class="total-row">
                <td colspan="4">Grand Total:</td>
                <td>&#x20B1;{{ order.total_amount }}</td>
            </tr>
        </tbody>
    </table>

    <div class="invoice-footer">
        <div class="info">
            <p><strong>Customer:</strong> {{ order.customer }}</p>
            <p><strong>Payment Method:</strong> {{ order.payment_method|default:"Cash on Delivery" }}</p>
            <p><strong>Shipping Address:</strong> {{ order.customer.address }}</p>
            <p><strong>Date:</strong> {{ order.date }}</p>
        </div>
        <div>
            <a href="{% url 'order:thank-you' %}" class="checkout-btn">Proceed</a>
        </div>
    </div>
</div>
{% endblock content %}
