{% extends "shop.html" %}
{% block title %}Thank You{% endblock title %}

{% block extracss %}

{% endblock extracss %}

{% block content %}
<div class="after-hero-cont" style="
    max-width: 600px;
    {% comment %} width: 100%; {% endcomment %}
    margin: 60px auto;
    padding: 40px;
    text-align: center;
    {% comment %} background-color: #f8f9fa; {% endcomment %}
    background-color: transparent;
    border-radius: 12px;
    {% comment %} box-shadow: 0 4px 20px rgba(0,0,0,0.1); {% endcomment %}
    ">

    <h2 style="color: #044635; font-size: 28px; margin-bottom: 20px;">
        <i class="fa-solid fa-circle-check" style="margin-right: 10px;"></i>
        Thank You for Your Order!
    </h2>

    <p style="font-size: 16px; color: #555;">
        Your order has been successfully placed and is now being processed.
        We will notify you once it's ready for delivery.
    </p>

    <p style="font-size: 15px; color: #777; margin-top: 10px; margin-bottom: 20px;">
        Feel free to browse our store for more amazing products!
    </p>

    <a href="{% url 'shop:shop' %}" class="btn btn-primary" style="
        margin: 0 auto;
        padding: 8px 12px;
        font-size: 12px;
        width: 30%;
        border-radius: 6px;">
        Continue Shopping
    </a>
</div>
{% endblock content %}
