{% comment %} <div class="charts-container" style="display: grid; border: 1px solid red; ">
    <div class="first-chart">
        <canvas id="stockChart" width="700" height="250" ></canvas>
    </div>
</div> {% endcomment %}

<div class="chart-grid">
    <div class="chart-box">
        <canvas id="stockChart" width="700" height="250" ></canvas>
    </div>
    <div class="chart-box">
      <canvas id="stockChart"></canvas>
    </div>
    <div class="chart-box">
      <canvas id="salesChart"></canvas>
    </div>
    <div class="chart-box">
      <canvas id="ordersChart"></canvas>
    </div>
    <div class="chart-box">
      <canvas id="usersChart"></canvas>
    </div>
  </div>