{%load static%}

<div class="menu-bar-cont">
    <button onclick="menuBar.openSide()" class="menu-btn">
        <i class="fa-solid fa-bars"></i>
    </button>
    <div id="sidebar-modal" class="modal-sidebar-content">
        <div class="modal-sidebar-child">
            <div class="top-two-content">
                <h1></h1>
                <img src="{%static 'public/orange-green-original-puregold-logo.png'%}" alt="">
                <a href="javascript:void(0)" class="closebtn" onclick="menuBar.closeSide()">&times;</a>
            </div>
            <div class="sidebar-menu-main">
                <a href="{%url 'adminpanel:dashboard'%}" class="{%if title == 'Dashboard'%} active {%endif%}">
                    <i class="fa-solid fa-desktop"></i>
                    Dashboard
                </a>
                {% comment %} {%if button == 'Orders'%} active {%endif%} {% endcomment %}
                <button class="dropdown-btn ">
                    <i class="fa-solid fa-clipboard-list"></i>
                    Orders
                    <i class="fa fa-caret-down drop-icon"></i>
                </button>
                <div class="dropdown-cont">
                    {% comment %} {%url 'admin-orders:all-orders'%} {% endcomment %}
                    {% comment %} {%if title == 'All Orders'%} active {%endif%} {% endcomment %}
                    <a href="" class="">
                        <i class="fa-solid fa-circle size-circle"></i>
                        All Orders
                    </a>
                    <a href="#" class="selected">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Placed Orders
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Processing Orders
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Product On The Way
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Delivered Order
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Canceled Order
                    </a>
                </div>
                <button class="dropdown-btn {%if button == 'Inventory'%} active {%endif%}">
                    <i class="fa-solid fa-box-open"></i>
                    Inventory Management
                    <i class="fa fa-caret-down drop-icon"></i>
                </button>
                <div class="dropdown-cont">
                    <a href="{%url 'inventory:product'%}" class="{%if title == 'Products'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Products
                    </a>
                    <a href="{%url 'inventory:stock'%}" class="{%if title == 'Stocks'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Stocks
                    </a>
                    <a href="{%url 'inventory:category'%}" class="{%if title == 'Categories'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Categories
                    </a>
                    <a href="{%url 'inventory:subcategory'%}" class="{%if title == 'Subcategories'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Subcategories
                    </a>
                    <a href="{%url 'inventory:brand'%}" class="{%if title == 'Brands'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Brands
                    </a>
                    <a href="{%url 'inventory:unit'%}" class="{%if title == 'Units'%} selected {%endif%}">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Units
                    </a>
                </div>
                <a href="" class="">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    Transactions
                </a>
                <button class="dropdown-btn ">
                    <i class="fa-solid fa-chart-line"></i>
                    Reports
                    <i class="fa fa-caret-down drop-icon"></i>
                </button>
                <div class="dropdown-cont">
                    <a href="#" class="selected">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Sales
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Inventory
                    </a>
                </div>
                <button class="dropdown-btn ">
                    <i class="fa-solid fa-gear"></i>
                    Settings
                    <i class="fa fa-caret-down drop-icon"></i>
                </button>
                <div class="dropdown-cont">
                    <a href="#" class="selected">
                        <i class="fa-solid fa-circle size-circle"></i>
                        My Profile
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Change Password
                    </a>
                </div>
                <button class="dropdown-btn ">
                    <i class="fa-solid fa-user-gear"></i>
                    Administration
                    <i class="fa fa-caret-down drop-icon"></i>
                </button>
                <div class="dropdown-cont">
                    <a href="#" class="selected">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Users
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-circle size-circle"></i>
                        Admin
                    </a>
                </div>
                <a href="{%url 'adminpanel:logout'%}">
                    <i class="fa-solid fa-door-open"></i>
                    Logout
                </a>
            </div>
            <div class="card-profile-cont">
                <div class="img-user">
                    <img src="{{ user.profile.profile_image.url }}" alt="User">
                </div>
                <div class="text-user">
                    <p class="fullname">{{user.first_name}} {{user.last_name}}</p>
                    <p class="email">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>