<div class="notification-message-cont">
    <!-- <button onclick="myMessageBtn()" class="message-btn-header active">
        <i class="fa-regular fa-message message-icon"></i>
        <span class="count-message">0</span>
    </button>

    <div id="dropdown-Message" class="dropdown-message-content">
        <h1>Habib Albi</h1>
        <h1>Habib Albi</h1>
        <h1>Habib Albi</h1>
    </div> -->

    <button onclick="notification.openNotif()" class="notification-btn-header">
        <i class="fa-regular fa-bell bell-icon"></i>
        <span class="count-bell">{{ unread_count }}</span>
    </button>
    <div id="dropdown-Notification" class="dropdown-notification-content">
        <div class="two-top-header">
            <h3 class="text-notifications">Notifications</h3>
            <button onclick="notification.closeNotif()" class="exit-notification-btn">
                <i class="fa-solid fa-xmark"></i>                            
            </button>
        </div>
        <div class="main-notif-cont">
            <div class="message-content-containter">
                <div class="clearall-cont">
                    <form method="post" action="{%url 'notification:read-all'%}">
                        {% csrf_token %}
                        <button class="clearall-btn">
                            Read all
                        </button>
                    </form>
                    <form method="post" action="{%url 'notification:clear-all'%}">
                        {% csrf_token %}
                        <button class="clearall-btn">
                            Clear all
                        </button>
                    </form>
                </div>
                {% for notif in notifications %}
                <div class="card-message">
                    <div class="card-child-top">
                        <span class="card-name">{{ notif.title }}</span>
                        <div class="form-notif">
                            <form method="post" action="{%url 'notification:read' notif.id%}">
                                {% csrf_token %}
                                <button class="delete-notification-btn" type="submit">
                                    {% comment %} <i class="fa-solid fa-envelope-open"></i> {% endcomment %}
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </form>
                            <form method="post" action="{%url 'notification:delete' notif.id%}">
                                {% csrf_token %}
                                <button class="delete-notification-btn" type="submit">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-child-mid">
                        <p class="card-description">{{ notif.message }}</p>
                    </div>
                    <div class="card-child-bottom">
                        <span class="card-time">{{ notif.created_at|time:"h:i a" }}</span>
                        <span class="card-date">{{ notif.created_at|date:"F j, Y" }}</span>
                    </div>
                </div>
                {% empty %}
                <div style="text-align: center">
                    <p style="padding: 15px 35px; font-size: 12px;">No notifications</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>