
<div class="search-date-cont">
    <form action="{% url 'adminpanel:search' %}" method=POST class="search-cont">
        {% csrf_token %}
        <input type="text" name="search" class="search-input-header" placeholder="Search">
        <button class="search-btn-header" type="submit">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
    </form>
    <div class="date-cont">
        <p class="date-day">{{ datetime|date:"l, j F" }}</p>
    </div>
</div>