{%load static%}
 <!-- ====Sidebar==== -->
 <section class="side-cont">
    <aside>
        <div class="logo-cont">
            <img src="{%static 'public/orange-green-original-puregold-logo.png'%}" alt="Logo" >
        </div>
        <div class="link-cont">
            <a href="{%url 'adminpanel:dashboard'%}" class="{%if title == 'Dashboard'%} active {%endif%}">
                <i class="fa-solid fa-desktop"></i>
                Dashboard
            </a>
            <button class="dropdown-btn ">
                <i class="fa-solid fa-clipboard-list"></i>
                Orders
                <i class="fa fa-caret-down drop-icon"></i>
            </button>
            <div class="dropdown-cont {%if button == 'Orders'%} active {%endif%}">
                <a href="{%url 'order:all-orders'%}" class="{%if title == 'All Orders'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    All Orders
                </a>
                <a href="{%url 'order:place'%}" class="{%if title == 'Placed Orders'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Placed Orders
                </a>
                <a href="{%url 'order:processing-orders'%}" class="{%if title == 'Processing Orders'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Processing Orders
                </a>
                <a href="{%url 'order:delivered-orders'%}" class="{%if title == 'Delivered Orders'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Delivered Orders
                </a>
                <a href="{%url 'order:cancelled-orders'%}" class="{%if title == 'Cancelled Orders'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Canceled Orders
                </a>
            </div>
            <button class="dropdown-btn {%if button == 'Inventory'%} active {%endif%}">
                <i class="fa-solid fa-box-open"></i>
                Inventory Management
                <i class="fa fa-caret-down drop-icon"></i>
            </button>
            <div class="dropdown-cont">
                <a href="{%url 'inventory:product'%}" class="{%if title == 'Products'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Products
                </a>
                <a href="{%url 'inventory:stock'%}" class="{%if title == 'Stocks'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Stocks
                </a>
                <a href="{%url 'inventory:category'%}" class="{%if title == 'Categories'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Categories
                </a>
                <a href="{%url 'inventory:subcategory'%}" class="{%if title == 'Subcategories'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Subcategories
                </a>
                <a href="{%url 'inventory:brand'%}" class="{%if title == 'Brands'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Brands
                </a>
                <a href="{%url 'inventory:unit'%}" class="{%if title == 'Units'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Units
                </a>
            </div>
            <a href="{%url 'payment:payment'%}" class="{%if title == 'Payments'%} active {%endif%}">
                <i class="fa-solid fa-money-bill-transfer"></i>
                Transactions
            </a>
            <button class="dropdown-btn {%if button == 'Reports'%} active {%endif%}">
                <i class="fa-solid fa-chart-line"></i>
                Reports
                <i class="fa fa-caret-down drop-icon"></i>
            </button>
            <div class="dropdown-cont">
                <a href="{%url 'payment:sales-report'%}" class="{%if title == 'Sales Report'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Sales
                </a>
                <a href="{%url 'payment:inventory-report'%}" class="{%if title == 'Inventory Report'%} selected {%endif%}">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Inventory
                </a>
            </div>
            <button class="dropdown-btn ">
                <i class="fa-solid fa-gear"></i>
                Settings
                <i class="fa fa-caret-down drop-icon"></i>
            </button>
            <div class="dropdown-cont">
                <a href="#" class="selected">
                    <i class="fa-solid fa-circle size-circle"></i>
                    My Profile
                </a>
                <a href="#">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Change Password
                </a>
            </div>
            <button class="dropdown-btn ">
                <i class="fa-solid fa-user-gear"></i>
                Administration
                <i class="fa fa-caret-down drop-icon"></i>
            </button>
            <div class="dropdown-cont">
                <a href="#" class="selected">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Users
                </a>
                <a href="#">
                    <i class="fa-solid fa-circle size-circle"></i>
                    Admin
                </a>
            </div>
            <a href="{%url 'adminpanel:logout'%}">
                <i class="fa-solid fa-door-open"></i>
                Logout
            </a>
        </div>
        <div class="card-profile-cont">
            <div class="img-user">
                <img src="{{ user.profile.profile_image.url }}" alt="User">
            </div>
            <div class="text-user">
                <p class="fullname">{{user.first_name}} {{user.last_name}}</p>
                <p class="email">{{user.email}}</p>
            </div>
        </div>
    </aside>
</section>
<!-- ====Sidebar==== -->