<div class="dashboard-cards">
    <div class="cards">
        <div class="one-container">
            <i class="fa-solid fa-cart-shopping shop-icon"></i>
        </div>
        <div class="two-container">
            <span class="text-1">Orders</span>
            <p>700</p>
        </div>
    </div>
    <div class="cards">
        <div class="one-container">
            <i class="fa-solid fa-box product-icon"></i>                
        </div>
        <div class="two-container">
            <span class="text-2">Products</span>
            <p>1,200</p>
        </div>
    </div>
    <div class="cards">
        <div class="one-container">
            <i class="fa-solid fa-users user-icon"></i>                
        </div>
        <div class="two-container">
            <span class="text-3">Customers</span>
            <p>900</p>
        </div>
    </div>
    <div class="cards">
        <div class="one-container">
            <i class="fa-solid fa-coins sales-icon"></i>                
        </div>
        <div class="two-container">
            <span class="text-4">Sales</span>
            <p>125,200</p>
        </div>
    </div>
</div>