<!DOCTYPE html>

{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%} {{title}} {%endblock%}
    </title>

    <!-- ====FAV ICON==== -->
     <link rel="shortcut icon" href="{%static 'public/orange-icon-logo.png'%}" type="image/x-icon">

    <!-- ====CSS==== -->
    <link rel="stylesheet" href="{%static 'css/master.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/sidebar.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/header.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}?v={{ timestamp }}">
    <link rel="stylesheet" href="{%static 'css/charts.css'%}?v={{ timestamp }}">

    <!-- ====EXTRA CSS====-->
    {%block extracss%}

    {%endblock%}

    <!-- ====ICONS / FONTS==== -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- ====CHARTS==== -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
</head>
<body>

    <!-- ====Sidebar==== -->
    <nav class="sidebar-parent">
        {%include 'components/sidebar.html'%}
    </nav>
    <!-- ====Sidebar==== -->

    <!-- ====Main Content==== -->
    <section class="main-cont">
        <!-- ====Header==== -->
        <header>
            {%include 'components/modal-sidebar.html'%}
            {%include 'components/searchbar.html'%}
            {%include 'components/modal-notification.html'%}
        </header>
        <!-- ====Header==== -->
        <!-- ====Content==== -->
        <main>
            {%block content%}
            <div class="dashboard-container">
                {%include 'components/total-cards.html'%}
                {% comment %} {%include 'components/charts.html'%} {% endcomment %}
            </div>
            {%endblock%}
        </main>
        <!-- ====Content==== -->
    </section>
    <!-- ====Main Content==== -->

    <!-- ====Script==== -->
    <script src="{%static 'js/script.js'%}?v={{ timestamp }}" defer></script>
    
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
    <!-- ====Extra Script==== -->
    {%block extrascript%}
    {% comment %} <script>
        window.chartData = {
            labels: {{labels | safe}},
            data: {{data | safe}},

            labels2: {{labels2 | safe}},
            data2: {{data2 | safe}},
        }
    </script>
    <script src="{%static 'js/charts.js'%}?v={{ timestamp }}" defer></script> {% endcomment %}
    {%endblock%}
</body>
</html>