<div class="pagination-container">
    <div class="showing-entries">
        <p>Showing 1 to of 195 entries</p>
    </div>
    <div class="pagination-numbers">
        <button>
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <a href="" >1</a>
        <a href="" >2</a>
        <a href="" class="active">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <button>
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>