<div class="pagination-container">
    <div class="showing-entries">
        <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
    </div>
    <div class="pagination-numbers">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="active" href="?page={{ num }}">{{ num }}</a>
            {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
        {% endif %}
    </div>
</div>