{%load static%}
<tbody>
    {%for data in subcategory%}
    <tr>
        <td data-cell="SL">{{data.id}}</td>
        <td data-cell="Name">{{data.name}}</td>
        <td data-cell="Category">{{data.category}}</td>
        <td data-cell="Date">{{data.created_date}}</td>
        <td data-cell="Actions">
            <div class="btn-td-cont">
                <button class="button read-btn"
                onclick="openViewModalSub({{data.id}})"
                >
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="button update-btn"
                onclick="openEditModalSub({{data.id}})"
                >
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <a href="{%url 'inventory:deleteSubCategory' data.id%}" class="button delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </div>
            <button class="button dot-btn">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
</tbody>