{%load static%}
<tbody>
    {%for data in unit%}
    <tr>
        <td data-cell="SL">{{data.id}}</td>
        <td data-cell="Name">{{data.name}}</td>
        <td data-cell="Abbreviation">{{data.abbreviation}}</td>
        <td data-cell="Abbreviation">{{data.description}}</td>
        <td data-cell="Date">{{data.created_date}}</td>
        <td data-cell="Actions">
            <div class="btn-td-cont">
                <button class="read-btn">
                    <i class="fa-regular fa-eye"></i>
                </button>
                <button class="update-btn">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                </button>
            </div>
            <button class="dot-btn">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
</tbody>