{%extends "login.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{% block content %}
    <form class="form"  method="post" action="{%url 'adminpanel:reset-password' reset_id%}">
        {% csrf_token %}
        <div class="input-cont">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" id="password" required placeholder="New password">
        </div>

        <div class="input-cont">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="confirm-password" id="confirm-password" required placeholder="Re-enter password">
        </div>

        <div class="button-cont">
            <button class="login-btn" id="RBtn" onclick="changeButtonText('RBtn', 'Resetting password...')">Reset password</button>
        </div>
    </form>
{% endblock %}  

{%block extrascript%}
    <!-- ====Message Error Button Text==== -->
        {% if messages %}
            {% for message in messages %}
                <script>
                    const loginBtn = document.getElementById('RBtn');

                    const originalText = loginBtn.innerText;

                    loginBtn.innerText = "{{ message }}";
                    loginBtn.disabled = true;

                    setTimeout(() => {
                        loginBtn.innerText = originalText;
                        loginBtn.disabled = false;
                    }, 3000);
                </script>
            {% endfor %}
        {% endif %}
    <!-- ====Message Error Button Text==== -->
{%endblock%} 