{%extends "login.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{% block content %}
    <form class="resetpassword-form"  method="post">
        {% csrf_token %}
        <div class="input-cont">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" value="{{email}}" disabled>
        </div> 

        <div class="input-cont">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="reset-password" id="password" required placeholder="New password">
        </div>

        <div class="input-cont">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="reset-password" id="confirm-password" required placeholder="Re-enter password">
        </div>

        <div class="button-cont">
            <button class="login-btn">Reset Password</button>
        </div>
    </form>
{% endblock %}  

{%block extrascript%}
    <script src="{%static 'admin-js/resetpasswordJSON.js'%}?v={{ timestamp }}" defer></script>
{%endblock%}