{%extends "login.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{% block content %}
    <form class="forgotpassword-form"  method="post">
        {% csrf_token %}
        <div class="input-cont">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" id="email-input" required placeholder="Email">
        </div>

        <div class="button-cont">
            <div class="forgot-cont">
                <span>Reset password</span>
                <a href="{%url 'adminpanel:login'%}"><p>Back to login?</p></a>
            </div>
            <button class="login-btn">Send Email</button>
        </div>
    </form>
{% endblock %}  

{%block extrascript%}
<script src="{%static 'admin-js/forgotpasswordJSON.js'%}?v={{ timestamp }}" defer></script>
{%endblock%}