{%extends "login.html"%}

{%load static%}

{%block title%} {{title}} {%endblock title%}

{% block content %}
    <form class="form"  method="post" action="{%url 'adminpanel:forgotPassword'%}">
        {% csrf_token %}
        <div class="input-cont">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" id="email-input" required placeholder="Email">
        </div>

        <div class="button-cont">
            <div class="forgot-cont">
                <span>Reset password</span>
                <a href="{%url 'adminpanel:login'%}"><p>Back to login?</p></a>
            </div>
            <button  id="EBtn" class="login-btn" onclick="changeButtonText('EBtn', 'Sending email...')">Send email</button>
        </div>
    </form>
{% endblock %}  

{%block extrascript%}
    <!-- ====Message Error Button Text==== -->
        {% if messages %}
            {% for message in messages %}
                <script>
                    const loginBtn = document.getElementById('EBtn');

                    const originalText = loginBtn.innerText;

                    loginBtn.innerText = "{{ message }}";
                    loginBtn.disabled = true;

                    setTimeout(() => {
                        loginBtn.innerText = originalText;
                        loginBtn.disabled = false;
                    }, 3000);
                </script>
            {% endfor %}
        {% endif %}
    <!-- ====Message Error Button Text==== -->
{%endblock%} 