{% extends "shop.html" %}

{% load static %}

{% block title %}
    Cart
{% endblock title %}

{% block content %}
<div class="checkout-container">
    <div class="checkout-header">Your Cart</div>

    {% if cart_items %}
    <table class="checkout-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ item.stock.inventory.image.url }}" alt="{{ item.stock.inventory.name }}" style="width: 60px; height: 60px; object-fit: cover;"></td>
                <td>
                    {{ item.stock.inventory.name|capfirst }}
                    {% if item.stock.amount_per_unit and item.stock.unit %}
                        ({{ item.stock.amount_per_unit|floatformat:"-0" }} {{ item.stock.unit }})
                    {% endif %}
                    <br>
                    <small>{{ item.stock.inventory.subcategory.category.name }} | {{ item.stock.inventory.subcategory.name }}</small>
                </td>
                <td>&#x20B1;{{ item.stock.price }}</td>
                <td>
                    <form action="{% url 'cart:update_quantity' item.id %}" method="POST" style="display: flex; align-items: center; gap: 5px;">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 60px; padding: 5px; border: none; font-size: 12px;" />
                        <button type="submit" class="btn-primary-edit-qty" style="padding: 5px 10px; width: 80px;">Update</button>
                    </form>
                </td>
                <td>&#x20B1;{{ item.total_amount }}</td>
                <td>
                    <a href="{% url 'cart:delete' item.id %}" class="btn-primary1"><i class="fa-solid fa-xmark"></i></a>
                </td>
            </tr>
            {% endfor %}
            <tr class="total-row">
                <td colspan="4" style="text-align: right;"><strong>Grand Total:</strong></td>
                <td><strong>&#x20B1;{{ total_price }}</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="button-checkout" style="margin-top: 20px; display: flex; justify-content: flex-end; gap: 10px;">
        <a href="{% url 'shop:shop' %}" class="checkout-btn">Continue Shopping</a>
        <a href="{% url 'cart:checkout' %}" class="checkout-btn">Proceed to Checkout</a>
    </div>

    {% else %}
        <p style="text-align: center; font-size: 20px;">Your cart is empty.</p>
    {% endif %}
</div>
{% endblock content %}