<div id="openAddBtn" class="modal-form-container">
    <div class="add-container">
        
        <div class="child-top">
            <h2>Add New Product</h2>
            <button class="close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <form action="{%url 'inventory:addProduct'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="group-cont">
                <div class="form-group one">
                    <label for="subcategory">Subcategory:</label>
                    <select id="subcategory" name="subcategory" class="form-control" required>
                        <option value="" disabled>Select</option>
                        {%for x in subcategory%}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {%endfor%}
                    </select>
                </div>

                <div class="form-group two">
                    <label for="brand">Brand:</label>
                    <select id="brand" name="brand" class="form-control">
                        <option value="">Select</option>
                        {%for x in brand%}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

            <div class="group-cont">
                <div class="form-group one">
                    <label for="productName">Product Name:</label>
                    <input type="text" name="name" id="productName" class="form-control" placeholder="Name" required>
                </div>
                <div class="form-group two">
                    <label for="productImage">Product Image:</label>
                    <input type="file" name="image" id="productImage" class="custom-file-input" accept="image/*" required>
                    {% comment %} <label for="productImage" class="file-label">Choose Image</label> {% endcomment %}
                </div>
            </div>

            <div class="group-cont">
                <div class="form-group one">
                    <label for="Description">Description:</label>
                    <textarea name="description"></textarea>
                </div>
                <div class="form-group two">
                    <label for="Description">Image Selected:</label>
                    <div class="image-preview" id="imagePreview">
                        <span>No image selected</span>
                    </div>
                </div>
            </div>

            <button class="submit-btn">Add Product</button>
        </form>
    </div>
</div>